//@import url('https://fonts.googleapis.com/css?family=Open+Sans')

html, body
	color #1b3d6d
	font-family "open sans"

md-subheader
	background #ffd200
	height 50px
	
	h2
		color #1b3d6d
		margin 0
		padding-top 8px
		
h2
	display inline-block

	span
		font-weight 300

.classlist
	margin 0
	padding 0
	list-style none
	
	li
		margin 0
		background #ffd200
		margin-bottom 10px
		color #1b3d6d
		
		.md-button
			width 100%
			height 100%
			margin 0
			padding 10px 20px
		
		span 
			float right
		
.schedule

	.year
		display table
		width 100%
		
		.terms
			display table-row
		
			.term
				width calc((100% - 30px) / 4)
				display table-cell
				padding-right 10px
				color #ffd200
				vertical-align top
				
				h4
					margin 0
					color #1b3d6d
					
				@media (max-width: 875px)
					width calc((100% - 10px) / 2)
					
			.term:last-child
				padding-right 0 !important
				
			.term:nth-child(2n) 
				padding-right 10px
				
				@media (max-width: 875px)
					padding-right 0

.exams
	user-select none
	-webkit-user-select none
	
	.exam
		padding 15px 20px
		text-align center
		background #ffd200
		color #1b3d6d
		font-size 15px
		cursor pointer
		height 30px
		outline none
		
		.md-button
		.md-menu
			width 100%
			height 100%
			margin 0
			padding 0
		
	.exam.selected
		background #f78d2d
		color #f7eb5f
		
.angular-accordion-container
	height 100%
	
	.angular-accordion-pane
		
		.angular-accordion-header
			outline none
			user-select none
			-webkit-user-select none
			
		.angular-accordion-header h2:hover
			color #f78d2d
			cursor pointer
			
		.angular-accordion-pane-content
			height auto !important

md-tab-content
	padding 0 20px
	width calc(100% - 40px)
	margin-top 20px
	
md-tooltip

	.md-content 
		height auto

.demo-dialog-example
	background white
	border-radius 4px
	box-shadow 0 7px 8px -4px rgba(0, 0, 0, 0.2),
	  0 13px 19px 2px rgba(0, 0, 0, 0.14),
	  0 5px 24px 4px rgba(0, 0, 0, 0.12)
	width 500px

.demo-dialog-content
	padding 0 15px
	width 100%
	img
		height 300px
		margin auto

.demo-dialog-button
	width 100%